body {
	background-color: #eee;
}
.question {
	width: 100%;
}
.question tr:nth-child(1) td:nth-child(1) {
	font-weight: bold;
}
.question td:nth-child(2) {
	text-align: right;
}
.star {
	margin: 5px;
}
.star-active {
	color: gold;
}
.navbar {
	background-image: url('../img/logo_LatM.png'); 
	background-size: auto 100%; 
	background-repeat: no-repeat; 
	background-color: black;
	border-radius: 5px;
}
.panel-heading, .panel-footer {
	background-color: black !important;
	color: white !important;
}